%h1.title Publications

%ol
  %li
    Event-Centric Multimedia Data Management for Reconnaissance Mission Analysis and Reporting in Proc of the 14th annual ACM international conference on Multimedia
    = link_to 'PDF', '/files/WestermannAgaramGongJain-EventCentricMultimediaDataManagementforReconnaissanceMissionAnalysisandReporting.pdf'
  %li
    Event Discovery in Multimedia Reconnaissance Data Using Spatio-Temporal Clustering in Proc of the AAAI Workshop on Event Extraction and Synthesis 2006
    = link_to 'PDF', '/files/GongWestermannAgaramJain-EventDiscoveryInMultimediaReconnaissanceDataUsingSpatioTemporalClustering.pdf'
  %li
    Application of Neural Networks to Security Analysis in Proc of National Systems Conference 2002, Hyderabad India
