- unless @articles.nil? or @articles.blank?
  - @articles.each do |article|
    %article.article
      %header.title
        %time.right-time{ :datetime => article[:time].iso8601, :title => article[:time].to_s(:post_full) }
          = time_ago_in_words(article[:time])
        %h3= article[:title]
        .clear-both
      %p.snippet
        = article[:snippet]
      .continue= link_to 'read full article &raquo;'.html_safe, article_path(article[:id])
- else
  There's nothing to see here. Please move along.
