- if @article.nil?
  This post doesn't exist. Please try another
- else
  %h1.title= @article[:title]
  .time
    %time{ :datetime => @article[:time].iso8601, :title => @article[:time].to_s(:post_full) }
      -#= relative_time @article[:time]
      = @article[:time]
  .sep
  .post-body
    -# Fix the caching problem in development
    - filename = ::Rails.root.join(Site.configuration[:posts_dir], @article[:file])
    - if Rails.env.development?
      - File.open(filename) do |file|
        = render :inline => file.read, :type => :haml
    - else
      = render :file => filename
