- if @article.nil?
  This post doesn't exist. Please try another
- else
  %h1.title= @article[:title]
  .time
    %time{ :datetime => @article[:time].iso8601, :title => @article[:time].to_s(:post_full) }
      = relative_time @article[:time]
  .sep
  .post-body
    -# Fix the caching problem in development
    - if RAILS_ENV == 'development'
      - File.open(@posts_dir + @article[:file]) do |file|
        = render :inline => file.read, :type => :haml
    - else
      = render :file => (@posts_dir + @article[:file])
