- if @post.nil?
  This post doesn't exist. Please try another
- else
  %h1.title= @post[:title].titleize
  .time= @post[:time].to_s(:post_full)
  .sep
  .post-body
    = render :file => (@posts_dir + @post[:file])
