- if @article.nil?
  This post doesn't exist. Please try another
- else
  %h1.title= @article[:title]
  .time= @article[:time].to_s(:post_full)
  .sep
  .post-body
    = render :file => (@posts_dir + @article[:file])
