// Basic css setup {{{
body
  :padding = !gap_none
  :margin = !gap_none
  :background-color = !page_bg_color
  :font
    :family calibri, "lucidia grande", helvetica, arial, sans-serif
    :size = 22px
    :stretch semi-condensed

h1
  :font-size = 2.2em

h2
  :font-size = 1.8em

h3
  :font-size = 1.5em

h4
  :font-size = 1em

h5
  :font-size = 0.9em

h6
  :font-size = 0.85em

a
  :color = !site_link_color
  :font-weight bold
  :text-decoration none

  &:hover
    :text-decoration underline
  &:visited
    :font-weight normal
  img
    :border none
// }}}
