.page
  :width = !page_width
  :margin auto

#header
  :background-color = !header_bg_color

.mainmask
  :width 700px
  :padding = !gap_medium
  :background-color = !page_bg_color
  -moz-border-radius: 5px
  -moz-border-radius-topright: 0px
  -webkit-border-radius: 5px
  -webkit-border-top-right-radius: 0px
  :margin-bottom = !gap_huge

.sidebarmask
  :width = !sidebar_width
  :padding = !gap_medium
  :padding-left = !gap_none
  :background-color = !page_bg_color
  -moz-border-radius: 5px
  -moz-border-radius-topleft: 0px
  -moz-border-radius-bottomleft: 0px
  -webkit-border-radius: 5px
  -webkit-border-top-left-radius: 0px
  -webkit-border-bottom-left-radius: 0px

#sidebar
  :background-color = !sidebar_bg_color
  :vertical-align top
  :padding = !gap_medium
  -moz-border-radius: 5px
  -webkit-border-radius: 5px

ul.vert-bar
  :padding-top = !gap_huge

  li
    :margin = !gap_medium !gap_none

    a
      :display = block
      :padding = 2px 5px
      :color = !sidebar_link_color
      :background-color = !sidebar_link_bg_color
      -moz-border-radius: 5px
      -webkit-border-radius: 5px

      &:hover
        :text-decoration none
        :color = !sidebar_link_hover_color
        :background-color = !sidebar_link_hover_bg_color

.subscribe-img
  :height 32px
  :width 32px
  :background-color #f66662
  -moz-border-radius: 5px
  -webkit-border-radius: 5px

.subscribe-link
  :height 32px
  :line-height 32px
  :width = !sidebar_width - 32px - 3*!gap_medium
  :text-align center
  :background-color #f66662
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  a
    :color #e3f39b
    &:hover
      :text-decoration none

#main
  :padding = !gap_large
  :background-color = !main_bg_color
  -moz-border-radius: 5px
  -webkit-border-radius: 5px

#main-content
  :min-height = 600px
  :padding = !gap_large

.layout-sep
  :height = !gap_medium

#footer
  :padding = !gap_medium
  :background-color = !footer_bg_color
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  :clear both
  :text-align center
  :color = !footer_color
