.headermask, .mainmask
  :width = !page_width
  :margin auto

.mainmask
  :padding-bottom = !gap_huge

#header
  :background-color = !header_bg_color

#sidebar
  :width 175px
  :vertical-align top

  .vert-bar
    :padding-top = !gap_huge

    li
      :margin = !gap_medium !gap_none

  a
    :display = block
    :padding = 2px 5px
    :color = !sidebar_link_color
    :background-color = !sidebar_link_bg_color

    &:hover
      :text-decoration none
      :color = !sidebar_link_hover_color
      :background-color = !sidebar_link_hover_bg_color

#main
  :width 700px

#main-content
  :min-height = 600px
  :padding = !gap_large

.layout-sep
  :height = !gap_medium

#footer
  :clear both
  :text-align center
  :color = !footer_color

.article
  :margin 0
  .title, .title a
    :color = !title_color

  .time
    :font-family monospace

  .snippet
    :text-align justify

    .continue
      :text-align right
      a
        :font-weight bold

.post-body
  :text-align justify

  .image
    :max-width 300px
    :padding = !gap_medium
    :margin = !gap_large
    :background-color = !highlight_bg_color

    .caption
      :font-size = !font_size_note
      :color = !highlight_color
