/*
Sass::SyntaxError: Undefined constant: "!gutter_width".
on line 19 of /home/srikanth/work/projects/site/public/stylesheets/sass/components.sass

15: .clear-both
16:   :clear both
17: 
18: .gutter
19:   :width = !gutter_width
20:   :height = !gutter_height
21: 
22: .gutter-internal
23:   :width = !gutter_internal_width
24:   :height = !gutter_height
25: 


Backtrace:
/home/srikanth/work/projects/site/public/stylesheets/sass/components.sass:19
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/constant.rb:209:in `get_constant'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/constant.rb:192:in `operationalize'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/constant.rb:182:in `operationalize'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/constant.rb:45:in `parse'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/engine.rb:329:in `parse_attribute'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/engine.rb:282:in `parse_line'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/engine.rb:187:in `build_tree'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/engine.rb:237:in `build_tree'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/engine.rb:116:in `render_to_tree'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/engine.rb:88:in `render'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/plugin.rb:65:in `update_stylesheets'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/plugin.rb:53:in `each'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/plugin.rb:53:in `update_stylesheets'
/home/srikanth/work/projects/site/vendor/plugins/haml-2.0.6/rails/../lib/sass/plugin/rails.rb:16:in `process'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.2.2/lib/action_controller/base.rb:392:in `process'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:183:in `handle_request'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:110:in `dispatch_unlocked'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:123:in `dispatch'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:122:in `synchronize'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:122:in `dispatch'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:132:in `dispatch_cgi'
/usr/lib/ruby/gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:39:in `dispatch'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:76:in `process'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:74:in `synchronize'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:74:in `process'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:282:in `run'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:281:in `each'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:281:in `run'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/bin/mongrel_rails:128:in `run'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel/command.rb:212:in `run'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/bin/mongrel_rails:281
/usr/lib/ruby/gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:142:in `load_without_new_constant_marking'
/usr/lib/ruby/gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:142:in `load'
/usr/lib/ruby/gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:521:in `new_constants_in'
/usr/lib/ruby/gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:142:in `load'
/usr/lib/ruby/gems/1.8/gems/rails-2.2.2/lib/commands/servers/mongrel.rb:64
/usr/local/lib/site_ruby/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/usr/local/lib/site_ruby/1.8/rubygems/custom_require.rb:31:in `require'
/usr/lib/ruby/gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:153:in `require'
/usr/lib/ruby/gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:521:in `new_constants_in'
/usr/lib/ruby/gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:153:in `require'
/usr/lib/ruby/gems/1.8/gems/rails-2.2.2/lib/commands/server.rb:49
/usr/local/lib/site_ruby/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/usr/local/lib/site_ruby/1.8/rubygems/custom_require.rb:31:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined constant: \"!gutter_width\".\A on line 19 of /home/srikanth/work/projects/site/public/stylesheets/sass/components.sass\A \A 15: .clear-both\A 16:   :clear both\A 17: \A 18: .gutter\A 19:   :width = !gutter_width\A 20:   :height = !gutter_height\A 21: \A 22: .gutter-internal\A 23:   :width = !gutter_internal_width\A 24:   :height = !gutter_height\A 25: \A "; }
