%article.article
  %header.title
    %h1 Code

  :markdown
    ### Current Projects

     - A system to automate the [building of e-books](http://github.com/aksrikanth/library-build-system/) in various formats from plain text files.
     - [This website](http://github.com/aksrikanth/site/) including the blogging engine.
     - My helper scripts and [configuration files](http://github.com/aksrikanth/settings/).

    ### Past Projects

     - [Wireless setup script](https://gist.github.com/aksrikanth/5073729) to fill the lack of good wireless configuration tools in Linux.
     - An [automated script](https://gist.github.com/aksrikanth/5073716) to backup DVD movies and encode them into the OGM format. Uses MPlayer and Ogm-tools to do the heavy lifting.
