%article.article
  %header.title
    %h1 Publications

  :markdown

     - Event Based Organization and Access of Digital Photos - US 2009/0319472 A1 filed April 2008 [PDF](/files/JainWestermannScherpAgaram-EventBasedOrganizationAndAccessOfDigitalPhotos.pdf)
     - Event-Centric Media Management in SPIE's 20th Annual Symposium Electronic Imaging Science and Technology 2008 [PDF](/files/ScherpAgaramJain-EventCentricMediaManagement.pdf)
     - Event-Centric Multimedia Data Management for Reconnaissance Mission Analysis and Reporting in Proc of the 14th annual ACM international conference on Multimedia 2006 [PDF](/files/WestermannAgaramGongJain-EventCentricMultimediaDataManagementforReconnaissanceMissionAnalysisandReporting.pdf)
     - Event Discovery in Multimedia Reconnaissance Data Using Spatio-Temporal Clustering in Proc of the AAAI Workshop on Event Extraction and Synthesis 2006 [PDF](/files/GongWestermannAgaramJain-EventDiscoveryInMultimediaReconnaissanceDataUsingSpatioTemporalClustering.pdf)
     - Application of Neural Networks to Security Analysis in Proc of National Systems Conference 2002, Hyderabad India
