@import constants/constants

.hide
  display: none

.sidebar
  width: 10em
  position: absolute
  right: 0

.sidebar-button
  padding: 5px 20px
  background: #ddd
  color: #aaa
  width: 2em
  margin-left: calc(100% - 2em)
  font-size: $logo_font_size
  border-top-left-radius: 5px

.vertical-list
  position: absolute
  width: 100%
  padding: 10px 0
  background: white
  border-radius: 5px
  border-top-right-radius: 0
  border-bottom-right-radius: 0
  box-shadow: 0 1px 2px #ccc
  li
    &:before
      content: none
  a
    display: block
    padding: 10px 15px
    &:before
      content: '■'
      color: #df8962
      margin-right: 5px

    &:hover
      background: #d3e280
      color: #313b7e
      text-decoration: none

.main
  max-width: 40em
  margin: 0 auto

.top
  text-align: center
  padding: 40px 0

.bottom
  text-align: center

@media only screen and (max-width: $threshold_width)
  .sidebar
    float: right
    position: relative
    width: 4.4em

  .sidebar-button
    border-bottom-left-radius: 5px

  .vertical-list
    position: absolute
    right: 0
    display: none

  .show
    .sidebar-button
      border-bottom-left-radius: 0

    .vertical-list
      display: block
      width: 10em
