.sidebar-button ☰
%ul.vertical-list
  %li<>= link_to t('.home'), root_path
  %li<>= link_to t('.scrapbook'), 'http://scrapbook.srikanthak.name'
  %li<>= link_to t('.code'), code_path
  %li<>= link_to t('.publications'), publications_path
  %li<>= link_to t('.resume'), '/files/srikanth_resume.pdf'
